@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root {
  font-size: 62.5%;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* outline: 1px solid red; */
}

body {
  font-size: 1.6rem;
  
  
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}