.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  max-width: 1600px;
  padding: 2rem 0;
}

.buttonContainer button {
  padding: 0.5rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  font: 1.2rem;
  min-width: 25px;
}
