section {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  width: 60%;
  background: #348A2C;
  height: 100vh;
  color: #fff;
}

/* .container {

} */

.banner {
  background: url('../../assets/seasons-banner.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 10rem;
}

h1 {
  text-align: center;
  font-size: 5rem;
  margin: 2rem 0 0 0;
}

h3 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}

hr {
  margin: 1rem 0;
}

/* .button-container {
  display: grid;
  gap: 1rem;
  justify-content: center;
} */

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  max-width: 1600px;
  padding: 2rem 0;
}

.buttonContainer button {
  padding: 0.5rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  font: 1.2rem;
  min-width: 25px;
}

.produce-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly;
background-color: #348A2C;

}